/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: center; /* Centraliza o texto e elementos inline dentro do body */
}

/* Container principal para centralizar o conteúdo */
.container {
    width: 80%;
    max-width: 1200px; /* Define uma largura máxima para telas grandes */
    margin: 0 auto; /* Centraliza o container */
    padding: 20px;
}

/* Estilo das tabelas */
table {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    border-collapse: collapse;
    width: 100%; /* Ajusta a largura da tabela para ocupar 100% do container */
    margin: 20px auto;
}

/* Estilo das células da tabela */
td, th {
    border: none;
    padding: 10px;
    text-align: left;
}

/* Estilo do cabeçalho da tabela */
th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Estilo das linhas alternadas */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilo do endereço */
address {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px auto;
    text-align: center; /* Centraliza o texto do endereço */
    font-style: normal;
}

/* Estilo do elemento <hr> */
hr {
    border: none;
    height: 1px;
    background: #ddd;
    width: 100%; /* Ajusta a largura do hr para 100% do container */
    margin: 20px auto;
}

/* Estilo do footer */
footer {
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    text-align: center;
    font-size: 0.875rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px auto;
    padding: 10px;
    width: 100%; /* Ajusta a largura do footer para 100% do container */
}

/* Estilo da imagem */
img {
    border-radius: 25%;
    max-width: 150px;
    height: auto;
    margin: 0 auto; /* Centraliza a imagem */
}

/* Estilo do iframe */
iframe {
    width: 100%;
    height: 280px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

/* Estilo dos parágrafos */
p {
    text-align: center;
    margin: 10px 0;
}

/* Estilo dos links do menu */
#menu a {
    text-decoration: none;
    color: #007bff; /* Cor do link */
    padding: 10px;
}

#menu a:hover {
    text-decoration: underline;
}

/* Estilo das seções */
#apresentacao, #menu, #endereco {
    text-align: center;
    margin: 20px 0;
}

/* Estilo das seções específicas */
#endereco {
    width: 100%;
    margin: 20px auto;
}

#sobre {
    text-align: center;
    margin: 20px auto;
}

/* Responsividade */
@media (max-width: 767px) {
    .container {
        width: 95%;
    }
    
    img {
        width: 120px;
        height: 120px;
    }
    
    iframe {
        height: 200px;
    }
}
